<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.02" package="com.yourcompany.couchbid">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="30" />
	<application android:theme="@style/MainTheme" android:icon="@mipmap/ic_launcher_round" android:label="Couchbid"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>